/* style.css */
            body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #57854e94;
            }

            .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ecc9b2ce;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            h1 {
            color: #020202;
            font-size: 28px;
            margin-bottom: 20px;
            }

            .section {
            margin-bottom: 30px;
            }

            .section h2 {
            font-size: 24px;
            margin-bottom: 10px;
            }

            .section p {
            font-size: 16px;
            line-height: 1.5;
            }

             .section ul {
            list-style: none;
            padding: 0;
            }

            .section li {
            margin-bottom: 5px;
            }

            .section .date {
                font-weight: bold;
            }